@import "./common/bourbon/_bourbon.scss";
@import "./archi/base.scss";
@import "./common/fx.scss";
@import "./color/color.scss";
@import "./common/button.scss";

body,
html {
    height: 100%;
    width: 100%;
}
$hearderHeight: 50px;

.header {
    height: $hearderHeight;
    width: 100%;
    background-color: $primary_color;
    @include display(flex);
    @include align-items(center);
    color: white;

    #iconeUser {
        width: 25px;
        margin-left: 20px;
    }

    #currentUser {
        margin-left: 10px;
    }
}

.mainContainer {
    @include display(flex);
    height: 500px; // mod in main.js to fit window size
    width: 100%;
}

.leftContainer {
    width: 180px;
    background-color: #EFEFEA;
    color: white;
    padding-left: 20px;
    border-right: 1px solid grey;
    padding-top: 20px;

    #currentUser {
        color: black;
    }

    .onlineUsers {
        color: rgb(39, 252, 80);
    }

    .offlineUsers {
        color: rgb(177, 177, 177);
    }
}

.rightContainer {
    @include display(flex);
    @include flex-direction(column);
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;

    #messageContainer {
        height: calc(100% - 125px);
        padding: 25px 5% 0;
        max-width: 100%;
        overflow: auto;
        overflow-x: auto;
    }

    .formMessage {
        position: absolute;
        bottom: 25px;
        width: 90%;
        height: 75px;
        display: flex;
        border-radius: 10px;
        margin-left: 5%;

        .alert {
            position: fixed;
            height: 25px;
            width: 100px;
            bottom: 100px;
            width: 100px;
            height: auto;
            background-color: $primary_color;
            color: white;
            border-radius: 5px;
            padding: 10px;
        }

        .submitMessage {
            height: 100%;
            width: 10%;
            position: relative;
            border: none;
            background-color: $primary_color;
            color: white;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            font-size: 2em;
            transition: all 0.3s;
        }

        .submitMessage:hover {
            background-color: white;
            color: $primary_color;
            cursor: pointer;
        }

        #message {
            width: 90%;
            height: 65px;
            padding: 5px;
            border: none;
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
            font-size: 1em;
            color: rgb(129, 129, 118);
        }
    }
}

.containerMessage {
    margin-bottom: 15px;
    width: 90%;

    .messageAuthor {
        font-weight: bold;
        font-size: 1.1em;

        .dateMessage {
            margin-left: 15px;
            color: rgb(149, 149, 149);
            font-size: 0.8em;
            font-style: italic;
        }
    }

    .message {
        max-width: 100%;
        word-wrap: break-word;
    }
}
#containerChangeUser{
    width: 100%;
    height: 100%;
    background-color: red;
    position: fixed;
}
