@import "./common/bourbon/_bourbon.scss";
@import "./archi/base.scss";
@import "./common/fx.scss";
@import "./color/color.scss";
@import "./common/button.scss";

body,
html {
    height: 100%;
    width: 100%;
}

.mainContainer {
    @include display(flex);
    height: 100%;
    width: 100%;
}

.leftContainer {
    width: 180px;
    background-color: $primary_color;
    color: white;
    padding-left: 20px;
    .onlineUsers {
        color: rgb(39, 252, 80);
    }
    .offlineUsers {
        color: rgb(177, 177, 177);
    }
}

.rightContainer {
    @include display(flex);
    @include flex-direction(column);
    @include align-items(center);
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;
    .formMessage {
        position: absolute;
        bottom: 2%;
        width: 90%;
        height: 75px;
        display: flex;
        border-radius: 10px;
        .submitMessage {
            height: 100%;
            width: 10%;
            position: relative;
            border: none;
            background-color: $primary_color;
            color: white;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            font-size: 2em;
            transition: all 0.3s;
        }
        .submitMessage:hover{
            background-color:white;
            color: $primary_color;
            cursor: pointer;
        }
        #message {
            width: 90%;
            height: 65px;
            padding: 5px;
            border: none;
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;
            font-size: 1em;
            color: rgb(129, 129, 118);
        }
    }
}
