@import "../bourbon/_bourbon.scss";
@import "../common/color.scss";

@import "../complex/home-user-panel.scss";
@import "../object/item-chan.scss";


// left padding
.home-user-panel-avatar,
.item-chan {
    padding-left: 10px;
};

.home-left-container {
    height: 100%;
    width: 240px;

    background-color: $color-home-left-container-background;

    .home-user-panel {
        width: 100%;
        height: 70px;
    };

    .item-chan-container {
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    };
};
