<div class="modal hide" id="burgerContainer">
  <div class="currentUser">
<img src="rsc/avatar/default.png" alt="avatar" class="miniAvatar" />
<p class="current_User_Name">Mad Max</p>
</div>
<p class="link_Modify_Profil burger_Links">Modifier son profil</p>
<p class="link_User_Pref burger_Links">Réglages</p>
</div>
