<div class="home-header">

<%- include("./burgerModal.ejs"); %>

<img src="./rsc/icons/burgerMenu.svg" alt="burger menu" class="icon" id="burgerMenu">

<h2><%= locals.teamName %></h2>
<img src="./rsc/icons/messageLogo.svg" alt="logo_Message" class="icon" id="messageIcon" />
<img src="./rsc/icons/showProfil.svg" alt="logo_Profil" class="icon" id="profilIcon" />
</div>
