<% chans = locals.chans %>

<div class="home-left-container">
    <div class="item-chan-container">
        <% for(var i in chans){%>
            <div class="item-chan"> <p># <%= chans[i].name%> </p> </div>
        <%}%>
    </div>
</div>
