<div class="home-left-container">
    <div class="item-chan-container">
        <div class="item-chan">
            <p># general</p>
        </div>
        <div class="item-chan">
            <p># random</p>
        </div>
        <div class="item-chan">
            <p># help</p>
        </div>
    </div>
</div>
