@import "../common/color.scss";


.item-chan {
    cursor: pointer;

    padding: 3px 0px;

    font-family: Roboto;
    color: darken($color-item-chan-text, 50%);

    &:hover {
        background-color: darken($color-brand, 20%);
        color: $color-item-chan-text;
    };

};


.item-chan-selected {
    background-color: $color-brand;
    color: $color-item-chan-text;

    &:hover {
        background-color: $color-brand;
        color: $color-item-chan-text;
    };
};
