<section id="containerChangeChan" class="modal hide">

    <img src="images/fermeture.svg" class="closeModal" />
    <h3>Créer un nouveau Channel  </h3>
    <p class="hide">Merci de vérifier le nom de votre channel !</p>
    <p>
        <label for="newChan">Nom du channel : </label><input type="text" name="newChan" id="newChan" placeholder="50 caractères max.">
    </p>

    <button type="button" class="cancelChangeChan">annuler</button>
    <button type="button" class="submitChangeChan">modifier</button>

</section>
