<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue sur Sluck | Login</title>
    <link rel="stylesheet" href="/css/login.css" media="screen" title="no title" charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,600' rel='stylesheet' type='text/css'>
</head>

<body>

    <div class="container_Login">
        <div class="container_Logo">

            <h1 class="titre">SlucK.</h1>

            <p class="subtitle"><em>" du Slack avec un U "</em></p>

        </div>

        <form method="post" action="/login" class="shadow formLogin" id="formLogin">
            <% if(locals.error){ %>
                <p class="error"><%= error %></p>
                <% } %>
            <p>
                <label for="pseudo" class="labelLogin">pseudo : </label>
                <input type="text" id="pseudo" name="pseudo" autofocus>
            </p>
            <p>
                <label for="password" class="labelLogin">password : </label>
                <input type="password" id="password" name="password">
            </p>
            <button class="buttonLogin">login</button>
        </form>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
</body>

</html>
