<article id="containerMessage" class="containerMessage">
    <div class="avatar">
        <img src="images/avatar.png"/>
    </div>

    <div class="messageContent">
        <div class="messageHeader">
            <div class="messageAuthor"></div>
            <div class="dateMessage"></div>
        </div>
        <p class="message">heyeyeydheyehyhazsdiuhad zyefzefh</p>
    </div>


</article>
