<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sluck</title>
    <link rel="stylesheet" href="/css/sluck.css" media="screen" title="no title" charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,600' rel='stylesheet' type='text/css'>
</head>

<body>

    <div class="mainContainer">

        <aside class="leftContainer">
            <ul class="containerUsers">
                <% for( i=0, c=locals.users.length; i<c; i++){%>
                    <li id="user<%= locals.users[i].id %>">
                    <%= locals.users[i].pseudo %>
                    </li>
                    <%}%>
            </ul>
        </aside>

        <section class="rightContainer">

        </section>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="/js/sluck.js"></script>
</body>

</html>
