/* soft reset */
html,
body,
textarea,
figure,
label {
    margin: 0;
    padding: 0;
}
body{
    font-family:'Roboto',sans-serif;
}
ul,
ol {
    padding-left: 2em;
}
ul
{
    margin:0px !important;
    margin-top: 20px !important;
    padding: 0px !important;
}
button:focus{
    outline: 0 !important;
}
/* avoid top margins on first content element */
p:first-child,
ul:first-child,
ol:first-child,
dl:first-child,
blockquote:first-child,
pre:first-child,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
    margin-top: 0;
}
/* avoid margins on nested elements */
li p,
li ul,
li ol {
    margin-top: 0;
    margin-bottom: 0;
}
li{
    list-style-type: none;
}
/* HTML5 tags */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
    display: block;
}

/* max values */
img, table, td, blockquote, code, pre, textarea, input, video {
    max-width: 100%;
}
.show{
    opacity: 1;
}

.hide {
    display: none;
}
