/*-------------------------------------------
-- COLOR
-------------------------------------------*/
$black: #373737;

$blue: #457FCA;

$grey: #B3B3B3;

$red: #F05156;

$white: #FFFFFF;
$white-soft: #F5F5F5;


/*-------------------------------------------
-- GLOBAL
-------------------------------------------*/
$color-brand: $blue;
$color-text: $black;


/*-------------------------------------------
-- BUTTON
-------------------------------------------*/
$color-button-background: $white-soft;

$color-button-text: $black;
$color-button-text-hover: $blue;

$color-button-border: $grey;
$color-button-border-hover: $blue;


/*-------------------------------------------
-- HINT
-------------------------------------------*/
$color-hint-warning: $red;


/*-------------------------------------------
-- INPUT
-------------------------------------------*/
$color-input-background: $white-soft;

$color-input-border: $grey;
$color-input-border-focus: $blue;
$color-input-border-warning: $red;

$color-input-text: $black;


/*-------------------------------------------
-- ITEM CHAN
-------------------------------------------*/
$color-item-chan-text: $white;


/*-------------------------------------------
-- LOGIN
-------------------------------------------*/
$color-login-background: $blue;
$color-login-form-background: $white;
$color-login-logo-title: $white;
$color-login-logo-subtitle: $white;


/*-------------------------------------------
-- HOME LEFT CONTAINER
-------------------------------------------*/
$color-home-left-container-background: $black;
