/*-------------------------------------------
-- COLOR
-------------------------------------------*/
$black: #27313B;

$blue: #457FCA;

$grey: #B3B3B3;

$white: #FFFFFF;
$white-soft: #F5F5F5;


/*-------------------------------------------
-- BUTTON
-------------------------------------------*/
$color-button-background: $white-soft;

$color-button-text: $black;
$color-button-text-hover: $blue;

$color-button-border: $grey;
$color-button-border-hover: $blue;


/*-------------------------------------------
-- INPUT
-------------------------------------------*/
$color-input-background: $white-soft;

$color-input-border: $grey;
$color-input-border-focus: $blue;

$color-input-text: $black;


/*-------------------------------------------
-- LOGIN
-------------------------------------------*/
$color-login-background: $blue;
$color-login-form-background: $white;
$color-login-logo-title: $white;
$color-login-logo-subtitle: $white;
